@model AdministratorManufacturerVM

<div class="text-center">
    <h1>@Localizer["create_manufacturer"]</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Manufacturer.Name" class="control-label">@Localizer["name"]</label>
                <input asp-for="Manufacturer.Name" class="form-input" />
                <span asp-validation-for="Manufacturer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer.NameRussian" class="control-label">@Localizer["name_russian"]</label>
                <input asp-for="Manufacturer.NameRussian" class="form-input" />
                <span asp-validation-for="Manufacturer.NameRussian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer.NameEnglish" class="control-label">@Localizer["name_english"]</label>
                <input asp-for="Manufacturer.NameEnglish" class="form-input" />
                <span asp-validation-for="Manufacturer.NameEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer.NameUzbek" class="control-label">@Localizer["name_uzbek"]</label>
                <input asp-for="Manufacturer.NameUzbek" class="form-input" />
                <span asp-validation-for="Manufacturer.NameUzbek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer.Description" class="control-label">@Localizer["description"]</label>
                <input asp-for="Manufacturer.Description" class="form-input" />
                <span asp-validation-for="Manufacturer.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer.DescriptionRussian" class="control-label">@Localizer["description_russian"]</label>
                <input asp-for="Manufacturer.DescriptionRussian" class="form-input" />
                <span asp-validation-for="Manufacturer.DescriptionRussian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer.DescriptionEnglish" class="control-label">@Localizer["description_english"]</label>
                <input asp-for="Manufacturer.DescriptionEnglish" class="form-input" />
                <span asp-validation-for="Manufacturer.DescriptionEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer.DescriptionUzbek" class="control-label">@Localizer["description_uzbek"]</label>
                <input asp-for="Manufacturer.DescriptionUzbek" class="form-input" />
                <span asp-validation-for="Manufacturer.DescriptionUzbek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label">@Localizer["upload_image"]</label>
                <input asp-for="File" class="form-input" type="file" accept="image/*" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileCaption" class="control-label">@Localizer["image_caption"]</label>
                <input asp-for="FileCaption" class="form-input" />
                <span asp-validation-for="FileCaption" class="text-danger"></span>
            </div>
            <div class="form-group flex">
                <input type="submit" value="@Localizer["save"]" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success gap-2">
                    @Localizer["back_to_list"]
                </a>
            </div>
        </form>
    </div>
</div>
