@model MainManufacturerVM
<div class="rbt-team-area bg-color-white rbt-section-gapBottom">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12 mb--60">
                <div class="section-title text-center">
                    <h2 class="title">@Localizer["our_manufacturers"]</h2>
                    <p class="description mt--20">
                        @Localizer["our_manufacturer_description"]
                    </p>
                </div>
            </div>
        </div>

        <br />
        <div class="row" style="text-align:center;">
            <div class="items-center">
                <a asp-action="Index" asp-controller="Manufacturers" asp-route-firstLetter="">
                    @Localizer["select_all"]
                </a>

                @foreach (var firstLetter in Model.FirstLetters)
                {
                    <span>*</span>
                    <a asp-action="Index" asp-controller="Manufacturers" asp-route-firstLetter="@firstLetter">
                        @firstLetter
                    </a>
                }
            </div>
        </div>
        <br />


        <div class="row g-3">
            @foreach (var manufacturer in Model.Manufacturers.ToList())
            {
                if (@Model.Manufacturers.IndexOf(manufacturer) >= 54)
                {
                    <div id="manufacturer_@Model.Manufacturers.IndexOf(manufacturer)" class="col-lg-2 col-md-4 col-sm-6 col-6" style="display:none;">
                        <div class="instagram-grid">
                            <a asp-action="Details" asp-controller="Manufacturers" asp-route-id="@manufacturer.Id">
                                <img src="~/files/@manufacturer.Image.Name" alt="instagram">
                                <span class="user-info">
                                    <span class="user-name">@manufacturer.Name</span>
                                </span>
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <div id="manufacturer_@Model.Manufacturers.IndexOf(manufacturer)" class="col-lg-2 col-md-4 col-sm-6 col-6">
                        <div class="instagram-grid">
                            <a asp-action="Details" asp-controller="Manufacturers" asp-route-id="@manufacturer.Id">
                                <img src="~/files/@manufacturer.Image.Name" alt="instagram">
                                <span class="user-info">
                                    <span class="user-name">@manufacturer.Name</span>
                                </span>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
        <br />

        <div class="row g-3" style="text-align:center;">
            <div class="col-12">
                <input type="hidden" name="counter" id="counter" value="1" />
                <button class="rbt-btn btn-gradient radius-round btn-md" id="counter_button" name="counter_button" onclick="
                        var counter=parseInt(document.getElementById('counter').value);
                        for (var i=counter * 54; i < counter * 54 + 54; i++) {
                            document.getElementById('manufacturer_' + i.toString()).style.display = 'block';
                        }
                        document.getElementById('counter').value = (counter + 1);">
                    <span class="btn-text">@Localizer["show_more"]</span>
                </button>
            </div>
        </div>
    </div>
</div>
