@model AdministratorProductVM

<div class="text-center">
    <h1>@Localizer["create_product"]</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label">@Localizer["name"]</label>
                <input asp-for="Product.Name" class="form-input" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.NameRussian" class="control-label">@Localizer["name_russian"]</label>
                <input asp-for="Product.NameRussian" class="form-input" />
                <span asp-validation-for="Product.NameRussian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.NameEnglish" class="control-label">@Localizer["name_english"]</label>
                <input asp-for="Product.NameEnglish" class="form-input" />
                <span asp-validation-for="Product.NameEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.NameUzbek" class="control-label">@Localizer["name_uzbek"]</label>
                <input asp-for="Product.NameUzbek" class="form-input" />
                <span asp-validation-for="Product.NameUzbek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label">@Localizer["description"]</label>
                <input asp-for="Product.Description" class="form-input" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.VendorCode" class="control-label">@Localizer["vendor_code"]</label>
                <input asp-for="Product.VendorCode" class="form-input" />
                <span asp-validation-for="Product.VendorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Availability" class="control-label">@Localizer["availability"]</label>
                <input asp-for="Product.Availability" class="form-input" type="number" />
                <span asp-validation-for="Product.Availability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Guarantee" class="control-label">@Localizer["guarantee"]</label>
                <input asp-for="Product.Guarantee" class="form-input" type="date" />
                <span asp-validation-for="Product.Guarantee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.StateId" class="control-label">@Localizer["state_name"]</label>
                <select asp-for="Product.StateId" class="form-input" asp-items="ViewBag.StateId"></select>
                <span asp-validation-for="Product.StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CatalogId" class="control-label">@Localizer["catalog_name"]</label>
                <select asp-for="Product.CatalogId" class="form-input" asp-items="ViewBag.CatalogId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Product.TypeId" class="control-label">@Localizer["type_name"]</label>
                <select asp-for="Product.TypeId" class="form-input" asp-items="ViewBag.TypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Product.Address" class="control-label">@Localizer["address"]</label>
                <input asp-for="Product.Address" class="form-input" />
                <span asp-validation-for="Product.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Files" class="control-label">@Localizer["upload_images"]</label>
                <input asp-for="Files" class="form-input" type="file" accept="image/*" multiple="multiple" />
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileCaption" class="control-label">@Localizer["image_caption"]</label>
                <input asp-for="FileCaption" class="form-input" />
                <span asp-validation-for="FileCaption" class="text-danger"></span>
            </div>
            <div class="form-group flex">
                <input type="submit" value="@Localizer["save"]" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success gap-2">
                    @Localizer["back_to_list"]
                </a>
            </div>
        </form>
    </div>
</div>