@model AdministratorTeamVM

<div class="text-center">
    <h1>@Localizer["create_team"]</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Team.Name" class="control-label">@Localizer["name"]</label>
                <input asp-for="Team.Name" class="form-input" />
                <span asp-validation-for="Team.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.NameRussian" class="control-label">@Localizer["name_russian"]</label>
                <input asp-for="Team.NameRussian" class="form-input" />
                <span asp-validation-for="Team.NameRussian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.NameEnglish" class="control-label">@Localizer["name_english"]</label>
                <input asp-for="Team.NameEnglish" class="form-input" />
                <span asp-validation-for="Team.NameEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.NameUzbek" class="control-label">@Localizer["name_uzbek"]</label>
                <input asp-for="Team.NameUzbek" class="form-input" />
                <span asp-validation-for="Team.NameUzbek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.Description" class="control-label">@Localizer["description"]</label>
                <input asp-for="Team.Description" class="form-input" />
                <span asp-validation-for="Team.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.DescriptionRussian" class="control-label">@Localizer["description_russian"]</label>
                <input asp-for="Team.DescriptionRussian" class="form-input" />
                <span asp-validation-for="Team.DescriptionRussian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.DescriptionEnglish" class="control-label">@Localizer["description_english"]</label>
                <input asp-for="Team.DescriptionEnglish" class="form-input" />
                <span asp-validation-for="Team.DescriptionEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.DescriptionUzbek" class="control-label">@Localizer["description_uzbek"]</label>
                <input asp-for="Team.DescriptionUzbek" class="form-input" />
                <span asp-validation-for="Team.DescriptionUzbek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.Position" class="control-label">@Localizer["position"]</label>
                <input asp-for="Team.Position" class="form-input" />
                <span asp-validation-for="Team.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.Email" class="control-label">@Localizer["email"]</label>
                <input asp-for="Team.Email" class="form-input" />
                <span asp-validation-for="Team.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.Phone" class="control-label">@Localizer["phone"]</label>
                <input asp-for="Team.Phone" class="form-input" />
                <span asp-validation-for="Team.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.PositionEnglish" class="control-label">@Localizer["position_english"]</label>
                <input asp-for="Team.PositionEnglish" class="form-input" />
                <span asp-validation-for="Team.PositionEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.PositionUzbek" class="control-label">@Localizer["position_uzbek"]</label>
                <input asp-for="Team.PositionUzbek" class="form-input" />
                <span asp-validation-for="Team.PositionUzbek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.PositionRussian" class="control-label">@Localizer["position_russian"]</label>
                <input asp-for="Team.PositionRussian" class="form-input" />
                <span asp-validation-for="Team.PositionRussian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label">@Localizer["upload_image"]</label>
                <input asp-for="File" class="form-input" type="file" accept="image/*" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileCaption" class="control-label">@Localizer["image_caption"]</label>
                <input asp-for="FileCaption" class="form-input" />
                <span asp-validation-for="FileCaption" class="text-danger"></span>
            </div>
            <div class="form-group flex">
                <input type="submit" value="@Localizer["save"]" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success gap-2">
                    @Localizer["back_to_list"]
                </a>
            </div>
        </form>
    </div>
</div>
