@model AdministratorHomeContactUsVM

<div class="rbt-conatct-area bg-gradient-11 rbt-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center mb--60">
                    @if ((bool)ViewBag.MessageResult)
                    {
                        <span class="subtitle bg-white text-success">@Localizer["your_message_succesfully_sended"]</span>
                    }
                    <h2 class="title">@Localizer["contact_us_via_contact"]</h2>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate"
                 data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
                <div class="rbt-address">
                    <div class="icon">
                        <i class="feather-headphones"></i>
                    </div>
                    <div class="inner">
                        <h4 class="title">@Localizer["contact_phone_number"]</h4>
                        <p><a href="tel:@Configuration.PhoneNumber">@Configuration.PhoneNumber</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-delay="200" data-sal-duration="800">
                <div class="rbt-address">
                    <div class="icon">
                        <i class="feather-mail"></i>
                    </div>
                    <div class="inner">
                        <h4 class="title">@Localizer["our_email_address"]</h4>
                        <p><a href="mailto:@Configuration.Email">@Configuration.Email</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 sal-animate" data-sal="slide-up" data-sal-delay="250" data-sal-duration="800">
                <div class="rbt-address">
                    <div class="icon">
                        <i class="feather-map-pin"></i>
                    </div>
                    <div class="inner">
                        <h4 class="title">@Localizer["our_location"]</h4>
                        <p>@Configuration.Address</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-contact-address">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="thumbnail">
                    <img class="w-100 radius-6" src="~/lib/main_template/assets/images/contact_us/girl_phone.jpg">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="rbt-contact-form contact-form-style-1 max-width-auto">
                    <div class="section-title text-start">
                        <span class="subtitle bg-primary-opacity">@Localizer["product_for_everyone"]</span>
                    </div>
                    <h3 class="title">@Localizer["you_can_contact_with_me"]</h3>
                    <form asp-action="ContactUs" asp-controller="Home" method="post" class="rainbow-dynamic-form max-width-auto">
                        <div class="form-group">
                            <input type="text" asp-for="Name">
                            <label>@Localizer["name"]</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group">
                            <input type="email" asp-for="Email">
                            <label>@Localizer["email"]</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" asp-for="Subject">
                            <label>@Localizer["your_subject"]</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group">
                            <textarea asp-for="Message"></textarea>
                            <label>@Localizer["message"]</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-submit-group">
                            <button type="submit" onclick="this.form.submit();" class="rbt-btn btn-md btn-gradient hover-icon-reverse w-100">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">@Localizer["send_message"]</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-google-map bg-color-white rbt-section-gapTop">
    <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" height="600" style="border:0"></iframe>
</div>