<!-- Start Slider Area  -->
<div class="rbt-splash-slider d-flex align-items-center">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-12 col-xl-6 order-2 order-xl-1">
                    <div class="inner">
                        <h1 class="title" style="font-size: 50px;">
                            @Localizer["the_word_next_to_the_video_is_main_index"]
                        </h1>
                        <p class="description">
                            @Localizer["the_word_next_to_the_video_is_main_index_detail"]
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-6 order-1 order-xl-2">
                    <div class="video-popup-wrapper">
                        <iframe class="w-100 rbt-radius" width="1280" height="536"
                                src="https://www.youtube.com/embed/vMXg4V-fKGw"
                                title="test title" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <a class="rbt-btn rounded-player-2 popup-video position-to-top with-animation d-none" href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                            <span class="play-icon"></span>
                        </a>
                        <div class="banner-group-shape">
                            <div class="shape-image scene shape-4">
                                <span data-depth="2">
                                    <img src="~/lib/main_template/assets/images/splash/icons/shape-4.png" alt="Shape Images">
                                </span>
                            </div>
                            <div class="shape-image scene shape-5">
                                <span data-depth="-2">
                                    <img src="~/lib/main_template/assets/images/splash/icons/shape-5.png" alt="Shape Images">
                                </span>
                            </div>
                            <div class="shape-image scene shape-6">
                                <span data-depth="5">
                                    <img src="~/lib/main_template/assets/images/splash/icons/shape-6.png" alt="Shape Images">
                                </span>
                            </div>
                            <div class="shape-image scene shape-7">
                                <span data-depth="-3">
                                    <img src="~/lib/main_template/assets/images/splash/icons/shape-7.png" alt="Shape Images">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="row">
                    <div class="splash-service-main position-relative">
                        <div class="service-wrapper service-white">
                            <div class="row g-0">
                                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="~/lib/main_template/assets/images/icons/icons-01.png" alt="Icon Images">
                                        </div>
                                        <div class="content">
                                            <h4 class="title">@Localizer["brush_courses_title"]</h4>
                                            <p>
                                                @Localizer["brush_courses_description"]
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="~/lib/main_template/assets/images/icons/icons-02.png" alt="Icon Images">
                                        </div>
                                        <div class="content">
                                            <h4 class="title">@Localizer["on_computers"]</h4>
                                            <p>
                                                @Localizer["on_computers_description"]
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="~/lib/main_template/assets/images/icons/icons-03.png" alt="Icon Images">
                                        </div>
                                        <div class="content">
                                            <h4 class="title">@Localizer["communication_with_teachers_as_well"]</h4>
                                            <p>
                                                @Localizer["communication_with_teachers_as_well_description"]
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12 service__style--column">
                                    <div class="service service__style--1">
                                        <div class="icon">
                                            <img src="~/lib/main_template/assets/images/icons/icons-04.png" alt="Icon Images">
                                        </div>
                                        <div class="content">
                                            <h4 class="title">@Localizer["everything_is_easy"]</h4>
                                            <p>
                                                @Localizer["everything_is_easy_description"]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-wrapper">
        <div class="shape-image shape-1">
            <img src="~/lib/main_template/assets/images/splash/icons/shape-1.png" alt="Shape Images">
        </div>
        <div class="shape-image shape-2">
            <img src="~/lib/main_template/assets/images/splash/icons/shape-2.png" alt="Shape Images">
        </div>
        <div class="shape-image shape-3">
            <img src="~/lib/main_template/assets/images/splash/icons/shape-3.png" alt="Shape Images">
        </div>
    </div>
</div>
<!-- End Slider Area  -->